<html>
  <head>
    <title>Aprendendo NodeJs com o GoNode</title>
  </head>
  <body>
    <form action="/check" method="POST">
      <label>Nome: </label>
      <input type="text" name="name" /><br>
      <label>Data Nascimento:</label>
      <input type="text" name="data_nascimento" /><br>

      <button type="submit">Logar </button>

    </form>
  </body>
</html>
